.new-collections{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing:border-box;
    gap: 10px;
    height: 90vh;
    
}
.new-collections h1{
    color: #171717;
font-size:50px ;
font-weight: 500;

}
.new-collections hr{
    width:200px;
    height: 6px;
    border-radius:10px;
    background: #252525;
}
.new-collections-item{
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top:50px;
    
    gap:50px; */
    display: flex;
    margin-top:50px;
    
    gap:50px;
}