.cart-container{
    margin: 20px 10px;
    
}
.cart-title{
     margin: 20px 10px;
font-size: 40px;
font-weight: 700;
}
.cart-item-details{
    margin : 50px  50px 0 50;
    display: flex;
    gap:30px;
    
}
.cart-items-format input{
    margin-left : 100px;
    margin-right : 10px;
    height:30px;
    font-size: 20px;;
    width:100px;
    
}
.removeProduct-btn{
     height:35px;
    
}

.cart-total{
    text-align:end;
    margin-right:100px;
    margin-top:50px;
}
